<div class="contaire">
  <h2><%= @user.nickname%> のマイページ</h2>
  <% if @image.attached? %>
    <%= image_tag @image, class:"my-image" %>
  <% else %>
    <%= image_tag("sample_defalt.png", class:"my-image") %>
  <% end %>
  <%= link_to "アカウント情報を変更", edit_user_registration_path, class: :post__btn %>
</div>
<div class="contaire">
  <main class="main">
    <h3>今までの投稿<span class="badge"><%= @user.posts.count %></span></a><br></h3>
    <div class="inner">
      <div class="card__wrapper">
        <%= render partial: 'posts/post', collection: @posts %>
      </div>
    </div>
  </main>
</div>