<%= form_with model: post, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "IPPINの名称" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="main-photo">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
    <div id="image-list"></div>
    <%= image_tag @post.image, id: 'image' if @post.image.present? %> 
  </div>

  <div class="form-goods">
    <%= f.label :description, "私のひと工夫" %><br />
    <%= f.text_area :description, class: :form__text %>
  </div>

  <div class="cooking-time">
    <%= f.label :cooking_time_id, "調理時間" %><br />
    <%= f.collection_select(:cooking_time_id, CookingTime.all, :id, :name,{},class:"cooking_time__select") %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>