<% breadcrumb :posts %>
<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="prototype__hedding">
        <%= @post.title %>
      </p>
      <%= link_to @post.user.nickname, user_path(@post.user), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), data: {confirm: '本当に削除しますか？'}, method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <% if @post.ingredients.present? %>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="img-responsive img-rounded">
                <%= image_tag @post.image %>
              </div>
            </div>
            <div class="col-md-4">
              <table class="table">
                 <thead>
                  <tr>
                    <th>具</th>
                    <th>量</th>
                  </tr>
                 </thead>
                <% @post.ingredients.each do |ingredient| %>
                  <tbody>
                    <tr>
                      <td><%= ingredient.topping %></td>
                      <td><%= ingredient.gram %></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <% else %>
        <div class="prototype__image">
          <%= image_tag @post.image %>
        </div>
      <% end %>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">作り方のコツ</p>
          <p class="detail__message">
            <%= @post.description %>
          </p>
        </div>
      </div>
      <div class="p__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>

        <% if user_signed_in? %>
         <div class="comment__form">
            <%= form_with(model: [@post, @comment], local: true) do |f|%>
              <div class="field">
                <div>
              
                </div>
                <div class="comment__field__form">
                  <div>
                    <%= f.text_field :text, placeholder:"コメントを残す",class:"comment__form__form" %>
                  </div>
                  <div class="actions">
                    <%= f.submit "送信する", class: :form__btn  %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %> 
        
        <%# コメント %>
        <ul class="comments_lists">
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <% if comment.user.image.attached? %>
                  <%= image_tag(comment.user.image, class:"comment-my-image") %>
                <% else %>
                  <%= image_tag("sample_defalt.png", class:"comment-my-image") %>
                <% end %>
                <div>
                  <div>
                    <%= link_to comment.user.nickname, root_path, class: :comment_user %>
                  </div>
                  
                    <%= comment.text %>
                    <% if user_signed_in? && current_user.id == @post.user_id %>
                      <div class="post__manage">
                        <%= link_to "削除する", post_comment_path(@post, comment), data: {confirm: '本当にコメントを削除しますか？'}, method: :delete, class: :comment__btn %>
                      </div>
                    <% end %>
                  
                </div>
              </li>
              <% end %>
          <% end %>
        </ul>
        <%# // コメント // %>
      </div>
    </div>
  </div>
</main>