<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.title %>
      </p>
      <%= link_to @post.user.nickname, root_path, class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post.id), data: {confirm: '本当に削除しますか？'}, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @post.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @post.description %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @post.description %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %> 
        <ul class="comments_lists">
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.text %>
                <%= link_to comment.user.nickname, root_path, class: :comment_user %>
                <% if user_signed_in? && current_user.id == @post.user_id %>
                  <div class="prototype__manage">
                    <%= link_to "削除する", post_comment_path(@post, comment), data: {confirm: '本当にコメントを削除しますか？'}, method: :delete, class: :prototype__btn %>
                  </div>
                <% end %>
              </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>